html,
body {
  margin: 500;
  padding: 0;
  background-color: darkgray;
}

canvas {
  display: block;
}

#container {
  display: flex;
}

#primary_slider_box {
  margin-left: 50px;
  background-color: cadetblue;
  border: dashed black 2px;
  border-radius: 5px;
}

#red_primary {
  accent-color: red;
}
#green_primary {
  accent-color: green;
}
#blue_primary {
  accent-color: blue;
}

#secondary_slider_box {
  margin-top: 5px;
  margin-left: 50px;
  background-color: white;
  border: dashed black 2px;
  border-radius: 5px;
}

#red_secondary {
  accent-color: red;
}
#green_secondary {    
  accent-color: green;
}
#blue_secondary {
  accent-color: blue;
}

#slider_box {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.slider {
  width: 400px;
  
}
